#box {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
}

#questionArea {
    margin: 20px;
}

#timeLeft {
    float: right;
}

#startButton {
    background-color:blueviolet;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color:cornsilk;
}

#back {
    background-color: blueviolet;
    padding: 10px;
    font-size: 20px;
    position: relative;
    color: cornsilk;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
}

button {
    border-radius: 9px;
}

textarea {
    width: 90%;
    margin: 25px;
}

#clear {
    background-color: blueviolet;
    padding: 10px;
    font-size: 20px;
    position: relative;
    color: cornsilk;
    top: 30%;
    right: 5%;
    text-align: center;
}

#submit {
    background-color: blueviolet;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: cornsilk;
}

label {
    margin-right : 10px;
}

input {
    width: 50%;
    margin-bottom: 20px;
    border: 2px solid gray;
}

h1 {
    text-align: center;
}

li {
    margin-top: 12px;
    padding: 5px 15px;
    font-size: 18px;
    color: cornsilk;
    background-color: blueviolet;
}

#newDiv {
    border-top: 2px solid gray;
    margin-top: 20px;
}

/* Responsiveness */
/* query for 768px */
@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
    #box {
        position: absolute;
        left: 20%;
    }
    a {
        margin-left: 20%;
    }
    #back {
        position:relative;
        left: 55%;
    }
    #clear {
        position: relative;
        right: 5%;
    }
    
}

/* query for 640px */
@media screen and (max-width: 640px) {
    body {
        min-width: 640px;
    }
    #box {
        position: absolute;
        left: 10%;
    }
    a {
        margin-left: 10%;
    }
}